<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudHub: Курсы</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="common/header :: header"></header>

    <div class="container">
        <h1 class="font-weight-bold pb-3">Курсы</h1>
        <p>Я преподаю следующие курсы:</p>
        <ul>
            <li>Программирование на C++</li>
            <li>Программирование на Pascal</li>
            <li>Программирование на Java</li>
            <li>Олимпиадное программирование</li>
            <li>Информатика (ЕГЭ)</li>
            <li>Математика (ЕГЭ)</li>
            <li>Информатика (ОГЭ)</li>
            <li>Математика (ОГЭ)</li>
            <li>Математический анализ</li>
            <li>Линейная алгебра</li>
        </ul>
    </div>

</body>
</html>