<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudHub: Курс</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <style>
        .fa-question-circle:hover {color: blue; cursor: pointer;}
    </style>
</head>
<body>
    <header th:insert="common/header :: header"></header>
    <div class="container">

        <h2 class="font-weight-bold">Курс: Информатика (ЕГЭ)</h2>

        <div>Ученик: Имя Фамилия</div>

        <div class="row pt-5">
            <div class="col">
                <div class="font-weight-bold pb-3">Дедлайны / домашние задания</div>
                <table class="table" style="font-size: 10pt;">
                    <thead class="thead-light">
                    <tr>
                        <th>Дата</th>
                        <th>Разделы</th>
                        <th>Заданий</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th></th>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col">
                <div class="font-weight-bold pb-3">Ближайшие занятия</div>
                <table class="table" style="font-size: 10pt;">
                    <thead class="thead-light">
                        <tr>
                            <th>Дата</th>
                            <th>Тема</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <div class="font-weight-bold pb-3">
                    <span>Прогресс по заданиям</span>
                    <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Для задания с соотвествующим номером при наведении выводится процент правильно решенных заданий в домашних работах."></i>
                </div>

                <table class="table table-bordered" style="border: 1px solid black; border-spacing: 5px; text-align: center">
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                    </tr>
                    <tr>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="text-center"><a class="btn-link" style="font-size: 10pt;" href="/course/1/lessons">Все занятия</a></div>
            </div>
            <div class="col">
                <div class="text-center"><a class="btn-link" style="font-size: 10pt;" href="/course/1/homework">Все домашние задания</a></div>
            </div>
            <div class="col">
                <div class="text-center"><a class="btn-link" style="font-size: 10pt;" href="/course/1/progress">Подробнее</a></div>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col">
                <div class="pb-5">Средний процент выполнения домашних работ:</div>
                    <canvas id="chart_avg_homework"></canvas>
                    <div class="form-group">
                        <label for="avg_homework">Промежуток:</label>
                        <select name="avg_homework" id="avg_homework" class="form-control">
                            <option value="month">Месяц</option>
                            <option value="month3">3 месяца</option>
                            <option value="month6">Полгода</option>
                            <option value="year">Год</option>
                        </select>
                </div>
            </div>
            <div class="col">
                <span>Средний балл ЕГЭ:</span>
                <span>нет данных</span>
                <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top"
                   title="Тестирования или домашние работы по полному варианту ЕГЭ еще не проводились."></i>
            </div>
        </div>
    </div>

    <script>
        var ctx = document.getElementById('chart_avg_homework').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</body>
</html>