<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudHub: Новый урок</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css" integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw==" crossorigin="anonymous" />
</head>
    <body>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw==" crossorigin="anonymous"></script>
        <header th:insert="common/header :: header"></header>

        <div class="container mt-5 mb-5">
            <h1 class="font-weight-bold pb-3">Новый урок</h1>

            <form action="#" th:action="@{/lessons/new}" th:object="${form}" method="post" autocomplete="off" class="was-validated">
                <div class="form-group">
                    <label for="start_date">Дата</label>
    <!--                <input type="datetime-local" th:field="*{startDate}" id="start_date" placeholder="Дата" class="form-control">-->
                    <input type="text" th:field="*{startDate}" id="start_date" placeholder="Дата" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="student">Ученик</label>
                    <input type="text" th:field="*{studentUsername}" id="student" placeholder="Ученик" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="courses">Курс:</label>
                    <select name="role" id="courses" th:field="*{courseTitle}" class="form-control" disabled required>
                    </select>
                </div>
                <div class="form-group">
                    <label for="topic">Тема</label>
                    <input type="text" th:field="*{topic}" id="topic" placeholder="Тема" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-success">Создать урок</button>
            </form>
        </div>

        <script>
            $('#start_date').datetimepicker({
                format: 'd.m.Y H:i',
                value: new Date()
            });

            var keyPressTimeout;
            $('#student').on('change keyup', async function() {
                // clearTimeout(keyPressTimeout);
                // keyPressTimeout = setTimeout(function () {
                    var response = await fetch('http://localhost:8081/api/user/' + $(this).val());
                    if (response.ok) {
                        this.setCustomValidity('');
                        $('#courses').empty();
                        let data = await response.json();
                        if (data['student']) {
                            for (let course of data['courses']) {
                                var opt = document.createElement('option');
                                opt.value = course['id'];
                                opt.innerHTML = course['title'];
                                document.getElementById('courses').appendChild(opt);
                            }
                            document.getElementById('courses').disabled = false;
                        }
                        else {
                            this.setCustomValidity('Данный пользователь не является учеником.');
                            $('#courses').empty();
                            document.getElementById('courses').disabled = true;
                        }
                    }
                    else {
                        this.setCustomValidity('Пользователь не найден.');
                        $('#courses').empty();
                        document.getElementById('courses').disabled = true;
                    }
                    this.reportValidity();
                // }, 500)
            });
        </script>
    </body>
</html>