<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'StudHub:  Домашняя работа #' + ${homework.getId()}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css}">

    <style>
        .fa-question-circle:hover {color: blue; cursor: pointer;}
    </style>
</head>
<body>
    <header th:insert="common/header :: header"></header>
    <div class="container">
        <div>
            <h2 class="font-weight-bold">Домашняя работа</h2>
            <span>
                <span class="font-weight-bold" th:text="'по курсу'"></span>
                <a class="btn-link" th:text="${course_id}" th:href="'/student/' + ${student_id} + '/course/' + ${course_id}"></a>
                <span class="font-weight-bold" th:text="'к уроку'"></span>
                <a class="btn-link" th:text="${course_id}" th:href="'/student/' + ${student_id} + '/course/' + ${course_id} + '/lesson/' + ${homework.getLessonId()}"></a>
            </span>
        </div>

        <div class="pt-3">
            <span th:text="'Срок сдачи: ' + ${homework.getDeadline()} +
            ', до дедлайна осталось ' + ${homework.getRemainingHours()} + ' минут'"></span>
        </div>

        <div class="pt-3 pb-2">
            <ul class="nav nav-tabs" id="homework" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" th:href="'/student/' + ${student_id} + '/course/' + ${course_id} + '/homework/' + ${homework_id} + '/description'">Описание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="">Задачи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="'/student/' + ${student_id} + '/course/' + ${course_id} + '/homework/' + ${homework_id} + '/submissions'">Посылки</a>
                </li>
            </ul>
        </div>

        <div>
            <div class="row">
                <div class="col-3">
                    <h3 class="font-weight-bold">Задачи</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item" th:each="i: ${#numbers.sequence(1, homework.getTotalProblemsCount().longValue())}">
                            <a class="nav-link btn btn-outline-primary" href="#" th:text="'Задача ' + ${i}" th:href="@{${i}}">Задача 0</a>
                        </li>
                    </ul>
                </div>


                <div class="col">
                    <h4 th:text="'Задача ' + ${problemInfo.getNumber()}" class="font-weight-bold pb-2">Условие</h4>
                    <p th:text="${problemInfo.getProblem().getFormulation()}"></p>

                    <div th:if="${problemInfo.getProblem().getType().equals('short_answer_problem')}">
                        <span class="font-weight-bold" style="color: grey">Задание с кратким ответом</span>
                        <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Ответом является строка или конечная десятичная дробь (через запятую)."></i>

                        <form class="pt-2" th:object="${submissionRequest}" th:action="'/student/' + ${student_id} + '/course/' + ${course_id} + '/homework/' + ${homework_id} + '/problems/' + ${problem_number} + '/submit'" method="post">
                            <label for="answer">Ответ</label>
                            <input type="text" id="answer" autocomplete="off" th:field="*{answer}">

                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>

                    <div  th:if="${problemInfo.getProblem().getType().equals('choice_problem')}">
                        <span class="font-weight-bold" style="color: grey">Задание с вариантами ответа</span>
                        <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Ответом является один ответ из списка."></i>

                        <form class="pt-2" action="">
                            <div id="answer_list">
<!--                                React component here-->
                            </div>
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>

                    <p th:text="'Осталось попыток: ' + ${problemInfo.getMaxAttempts() - problemInfo.getUsedAttempts()}"></p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script type="text/babel" th:src="|/js/answer_list.js|"></script>
</body>
</html>