<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'StudHub:  Домашняя работа #' + ${homework.getId()}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css}">
    <style>
        .fa-question-circle:hover {color: blue; cursor: pointer;}
    </style>
</head>
<body>
    <header th:insert="common/header :: header"></header>
    <div class="container">
        <div>
            <h2 class="font-weight-bold">Домашняя работа</h2>
            <span>
                <span class="font-weight-bold" th:text="'по курсу'"></span>
                <a class="btn-link" th:text="${course_id}" th:href="'/student/' + ${student_id} + '/course/' + ${course_id}"></a>
                <span class="font-weight-bold" th:text="'к уроку'"></span>
                <a class="btn-link" th:text="${course_id}" th:href="'/student/' + ${student_id} + '/course/' + ${course_id} + '/lesson/' + ${homework.getLessonId()}"></a>
            </span>
        </div>

        <div class="pt-3">
            <span th:text="'Срок сдачи: ' + ${homework.getDeadline()} +
            ', до дедлайна осталось ' + ${homework.getRemainingHours()} + ' минут'"></span>
        </div>

        <div class="pt-3 pb-2">
            <ul class="nav nav-tabs" id="homework" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" href="description">Описание</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="problems">Задачи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="">Посылки</a>
                </li>
            </ul>
        </div>

        <div>
            <h3 class="font-weight-bold">Посылки</h3>
            <p th:if="${submissionsPage.getNumber() == 1 && submissionsPage.getContent().isEmpty()}">Посылок нет.</p>

            <div class="homework_submissions_table" th:unless="${submissionsPage.getNumber() == 1 && submissionsPage.getContent().isEmpty()}">
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Время посылки</th>
                        <th>Задача</th>
                        <th>Ответ</th>
                        <th>Вердикт</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="submission : ${submissionsPage.getContent()}">
                        <td><span th:text="${submission.getId()}"></span></td>
                        <td><span th:text="${submission.getCreated()}"></span></td>
                        <td><a class="btn-link" th:text="${submission.getProblemId()}"></a></td>
                        <td><span th:text="${submission.getAnswer()}"></span></td>
                        <td><span th:style="${submission.getVerdict() == 'OK' ? 'color: green;' : 'color: red;'}" th:text="${submission.getVerdict()}"></span></td>
                    </tr>
                    </tbody>
                </table>

                <ul class="pagination">
                    <li class="page-item" th:each="i: ${#numbers.sequence(submissionsPage.getNumber()-5, submissionsPage.getNumber()+5)}" th:if="${i} > 0 and ${i} <= ${submissionsPage.getTotalPages()}">
                        <a class="page-link" th:href="'/admin/users?page='+${i}" th:text="${i}">1</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>