<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudHub: главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="common/header :: header"></header>

    <div class="container">
        <h1 class="font-weight-bold">Главная</h1>
        <p>Привет! Меня зовут Дмитрий, и я занимаюсь преподаванием различных математических и IT-дисциплин. На этом сайте мои ученики и их родители могут отслеживать оценки по домашним работам и прогресс обучения.</p>
        <div class="alert alert-warning">
            Данный сайт находится в стадии разработки.
        </div>
    </div>
</body>
</html>