<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudHub: главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="common/header :: header"></header>

    <div class="container">
        <h1 class="font-weight-bold pb-3">Личный кабинет</h1>
        <div class="row align-items-center">
            <div class="col-md-2">
                <img src="../static/img/profile_pic.jpg" th:src="@{img/profile_pic.jpg}" class="img img-rounded img-fluid">
            </div>
            <div class="col-md-10">
                <div class="font-weight-bold" style="font-size: 30px; color: grey;">login</div>
                <div style="font-size: 40px;">Имя Фамилия</div>
                <div>
                    <span class="font-weight-bold">Роль: </span>
                    <span class="pl-1">role</span>
                </div>
            </div>
        </div>


        <div>
            <a href="/profile/settings" class="btn btn-link">Изменить учетные данные</a>
        </div>

        <div class="row">
            <span class="font-weight-bold">Наблюдение: </span>
            <span class="pl-2"></span>
        </div>

        <h3 class="font-weight-bold">Курсы</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Прогресс</th>
                    <th>Дата старта</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>