<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudHub: главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="common/header :: header"></header>

    <div class="container">
        <h1 class="font-weight-bold pb-3">Личный кабинет</h1>
        <div class="row align-items-center">
            <div class="col-md-2">
                <img src="../static/img/profile_pic.jpg" th:src="@{/img/profile_pic.jpg}" class="img img-rounded img-fluid">
            </div>
            <div class="col-md-10">
                <div class="font-weight-bold" style="font-size: 30px; color: grey;" th:text="${user.getUsername()}">login</div>
                <div style="font-size: 40px;" th:text="${user.getFirstName() + ' ' + user.getLastName()}">Имя Фамилия</div>
                <div>
                    <span class="font-weight-bold">Роль: </span>
                    <span th:each="role : ${user.getRoles()}">
                        <span th:text="${role.getAlias()}" > Role </span>
                        <span th:unless="${role.equals(user.getRoles().get(user.getRoles().size() - 1))}">,</span>
                    </span>
                </div>
            </div>
        </div>


        <div>
            <a th:href="'/user/' + ${user.getId()} + '/settings'" class="btn btn-link">Изменить учетные данные</a>
        </div>

        <div th:unless="${following.isEmpty()}">
            <span class="font-weight-bold">Подписан(а) на:</span>
            <span th:each="following_user : ${following}">
                <a th:text="${following_user.getUsername() + ' [' + following_user.getFirstName() + ' ' + following_user.getLastName() + ']'}" th:href="'/user/' + ${following_user.getId()}"></a>
                <span th:unless="${following.get(following.size() - 1).equals(following_user)}">, </span>
            </span>
        </div>

<!--        <div class="py-2" th:if="${user.isStudent()}">-->
<!--            <h3 class="font-weight-bold pb-2">Курсы</h3>-->
<!--            <table class="table">-->
<!--                <thead class="thead-light">-->
<!--                    <tr>-->
<!--                        <th>Название</th>-->
<!--                        <th>Статус</th>-->
<!--                        <th>Дата старта</th>-->
<!--                    </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                    <tr th:each="course: ${(T(Student)(user)).getCourses()}">-->
<!--                        <td><a th:text="${course.getTitle()}" th:href="${'/user/' + course.getStudentId()} + '/course/' + ${course.getId()}"></a></td>-->
<!--                        <td th:text="${course.getStatus()}"></td>-->
<!--                        <td th:text="${course.getStartDate()}"></td>-->
<!--                    </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->

        <div>
            <a class="btn btn-primary" th:href="'/user/' + ${user.getId()} + '/edit'">Зачислить на курс</a>
        </div>
    </div>
</body>
</html>