<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudHub: новый пользователь</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="common/header :: header"></header>

    <div class="container mt-5 mb-5">
        <h1 class="font-weight-bold pb-3">Новый пользователь</h1>

        <form action="#" th:action="@{/users/signup}" th:object="${form}" method="post" autocomplete="off">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="firstName">Имя</label>
                        <input type="text" id="firstName" th:field="*{firstName}" placeholder="Имя" class="form-control" required pattern="[A-ZА-ЯЁ][A-Za-zа-яё' -]+">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="lastName">Фамилия</label>
                        <input type="text" id="lastName" th:field="*{lastName}" placeholder="Фамилия" class="form-control" required pattern="[A-ZА-ЯЁ][A-Za-zа-яё' -]+">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="username">Логин</label>
                <input type="text" th:field="*{username}" id="username" placeholder="Логин" class="form-control" required pattern="[A-Za-z0-9]+" minlength="3" maxlength="15">
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" th:field="*{password}" id="password" placeholder="Пароль" class="form-control" required minlength="3" maxlength="20">
            </div>

            <div class="form-group">
                    <label for="role">Роль:</label>
                    <select name="role" id="role" th:field="*{role}" class="form-control">
                        <option value="USER">Пользователь</option>
                        <option value="STUDENT">Ученик</option>
                    </select>
            </div>

            <button type="submit" class="btn btn-success">Зарегистрировать</button>

            <div class="alert alert-danger mt-2" th:if="${loginError}">Пользователь с таким логином уже зарегистрирован.</div>
        </form>
    </div>
</body>
</html>